<h1>{{title}}</h1>
<section class="container">
{{> components/ritchText ritchText=content}}
<h3 class="mt-5">Aktuelles</h3>
{{#each news}}
<p class="text-center fs-5 mb-0">
    <a href="/aktuelles" class="link-dark"><strong>{{toLocalDate publishedAt}}</strong> {{title}}</a>
    </p>
{{/each}}
</section>