<div class="row justify-content-center align-items-center">
{{#each images}}
<div class="col-lg-6">
    <figure class="figure">
    {{> components/atoms/image image=image class="shadow"}}
    {{#if altAsCaption}}<figcaption class="figure-caption">{{image.alt}}</figcaption>{{/if}}
    </figure>
</div>
{{/each}}
</div>