<div class="row">
    {{#if right}}
    <div class="col-md-6 my-auto">{{> components/ritchText ritchText=content}}</div>
    <div class="col-md-6 py-2 my-auto">{{> components/atoms/image image=img class="shadow mx-auto"}}</div>
    {{/if}}
    {{#unless right}}
    <div class="col-md-6 py-2 my-auto">{{> components/atoms/image image=img class="shadow mx-auto"}}</div>
    <div class="col-md-6 my-auto">{{> components/ritchText ritchText=content}}</div>
    {{/unless}}
</div>
